.client-section{
    margin-top: 50px;
    padding: 50px 100px;
    background-color: white;
}
.client-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.client-tagline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.client-tagline h1{
    font-size: 50px;
    text-transform: capitalize;
    color: #2C5F2D;

}
.client-tagline p{
    text-align: center;
    max-width: 500px;
}
.review-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.review-card{
    background-color: #EAFDD6;
    width: 1fr;
    border: none;
    border-radius: 30px;
    padding: 20px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.review-stars{
    max-width: 80%;

}
.review-stars img{
    width: 20px;
}
.review-card p{
    font-size: 14px;
    line-height: 2;
}
.writer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.writer img{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}



@media (min-width: 330px) and (max-width: 520px) {
    
.client-section{
    padding: 40px 20px;
}

.client-tagline{
    width: 100%;
}
.client-tagline h1{
    font-size: 28px;
    text-transform: capitalize;

}
.client-tagline p{
    max-width: 80%;
}
.client-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;

}
.review-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

}