.healing{
    padding: 0 100px;
}
.online-text{
    background-color: #EAFDD6;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}
.online-text img{
    width: 20px;
}

.heading{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.heading h1{
    font-size: 50px;
    font-weight: 700;
}
.heading h1 span{
    color: #1A472A;
}
.heading p{
    font-size: 16px;
    width: 80%;
}

.check-container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
}
.check-row{
    display: flex;
    gap: 15px;
    align-items: center;

}
.check-row img{
    width: 30px;
}
.advantage p{
    font-size: 15px;
}

.healing-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 70PX;
}
.healing-btn button{
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    box-shadow: 6px 6px 20px 10px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.start-btn{
    background-color: #EAFDD6;
}
.works-btn{
    background-color: white;
}

.pic-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    /* background-color: aqua; */
    height: 280px;
    position: relative;
}
.pic-container img{
    width: 100%;
    height: 280px;
    border: none;
    border-radius: 20px;
    object-fit: cover;
}
.top-right{
    background-color: #EAFDD6;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 7px;
    position: absolute;
    top: 0;
    right: -70px;
}
.top-right img{
    width: 30px;
    height: 30px;
}
.rate strong{
    font-size: 22px;
}
.rate p{
    font-size: 14px;
}

.sub-img-folder{
    background-color: #EAFDD6;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    position: absolute;
    bottom: -50px;
    left: -70px;
}
.top-div{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.top-div p{
    font-weight: 500;
    font-size: 16px;
}
.sub-img{
    display: flex;
    align-items: center;
    gap: -5px;
}
.sub-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
}
.sub-img img:not(:first-child){
    margin-left: -7px;
}
.text{
    font-size: 15px;
}
