@media (min-width: 330px) and (max-width: 520px) {
.hero-section{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-position: center;
    background-size: cover;
    min-height: 0;
    /* width: 430px; */
}
body{
    max-width: 100%;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    margin-bottom: 30px;
}
.logo-img{
    width: 60px;
    height: 60px;
}
.logo{
    font-size: 20px;
}
.sign-btn{
   
    display: none;
}
.hero-content{
    margin-top: 20px;
    width: 100%;
}
.hero-content h1{
    font-size: 30px;
    line-height: 1.2;
    padding: 0 10px;
}
.hero-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.hero-btn button{
    padding: 10px 20px;
}
.book-btn, .learn-btn{
    width: 90%;
    padding: 20px 0;
    margin: 0;
}
.subtext {
    display: none;
}

.stats-container{
    margin-top: 40px;
    justify-content: space-around;
    gap: 10px;
}
.stats strong{
    font-size: 18px;

}
.stats p{
    font-size: 12px;
    text-align: center;
}
.star-stats img{
    width: 14px;
}


.trust-section{
    padding: 20px;
    padding-top: 20px;
    min-height: 0;
    margin-bottom: 50px;
}

.tagline{
    margin: 40px auto;
    place-items: center;
    gap: 30px;
    max-width: 100%;
}
.tagline h1{
    font-size: 28px;
    font-weight: 700;
}
.tagline p{
    width: 70%;

}

.card-folder{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.healing{
    padding: 0 20px;
    /* text-align: center; */
    margin-bottom: 50px;
}

.heading{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.heading h1{
    font-size: 28px;
    font-weight: 700;
    width: 70%;
    line-height: 1.5;
}

.check-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;
}
.check-row{
    display: flex;
    gap: 10px;
    align-items: center;

}
.check-row img{
    width: 30px;
}

.advantage{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 7px;

}

.healing-btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
    margin-left: 0;
}
.healing-btn button{
    padding: 10px 20px;
}
/* body{
    display: flex;
    flex-direction: column;
    gap: 50px;
} */

.pic-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.top-right{
    display: none;
}
.sub-img-folder{
    display: none;
}

}









@media (min-width: 768px) and (max-width: 1024px) {
    .hero-section{
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-position: center;
    background-size: cover;
    min-height: 0;
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 80%;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.hero-content h1{
    font-size: 32px;
    color: #D4F4DD;
}
.hero-btn button{
    padding: 8px 16px;
}
.subtext{
    position: absolute;
    right: 20px;
    bottom: 90px;
    max-width: 250px;
    text-align: left;
    padding: 5px;
}
.subtext p{
    font-size: 14px;
}


.trust-section{
    min-height: 0;
    padding: 0 60px;
    padding-top: 40px;
    margin-bottom: 100px;
}

.tagline{
    display: grid;
    margin: 70px auto;
    place-items: center;
    gap: 40px;
    max-width: 100%;
}
.tagline h1{
    font-size: 35px;
    width: 50%;
}

.card-folder{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.card{
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card img{
    width: 40px;
}

.card p{
    font-size: 14px;
}

.healing{
    padding: 0 60px;
}
.heading{
    max-width: 80%;
}
.heading h1{
    font-size: 35px;
    font-weight: 700;
}

.heading p{
    font-size: 16px;
    width: 70%;
}

.pic-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
}
.top-right{
    right: -50px;
}

.sub-img-folder{
    bottom: -20px;
    left: -50px;
}
}
